.icon-close
{
	background-image: url(../images/close.png);
}
a.redmine-close-button
{
	display: none;
}
.icon-print
{
	background-image: url(../images/print.png);
}
a.redmine-print-button
{
	display: none;
}
